$background: #f1f1f1;



@import "global";

p, h1, h2, h3, h4, h5, a {
    font-family: 'century-gothic', sans-serif !important;
}


    .body{
        background-color: $background;
    }



    .main-page-container{
        background-color: $background;
        max-width: 1140px;
        width: 100%;
        padding: 0 40px;
        margin: auto;
       
        
    }

 .container-fluid{
     text-align: center;
 }


 //------ HEADER STYLING -----//

 header{
    background-color: $background;
    padding: 10px 0 10px 0;
    .navbar-brand{
            font-size: 16px;
             
    }
    
}

.navbar{
    
.navbar-nav{
    .contact{
        padding-right: 0px;
    }
    a{
        margin-left: 50px;        
    }
}
}




//------ FOOTER STYLING -----//

.gway-footer{
    max-width: 1200px;
    width: 100%;
    margin: 100px auto 60px auto;
    padding: 0;
   
   

    &__nav{
        @media screen and (max-width: 768px){
            padding-bottom: 80px;
            }

    //    border: solid 3px hotpink; 
        
        .nav{
            flex-wrap: nowrap;

            @media screen and (max-width: 768px){
                justify-content: center;
                }    
        }

       .indeed{
           padding-left: 0px;
           @media screen and (max-width: 768px){
            padding-left: 16px;
            }
        } 
        
    }

    &__top-page{
         //    border: solid 3px hotpink; 
        @media screen and (max-width: 768px){
            padding-bottom: 80px;
            }
   
        text-align: center;
    }
   
    &__copy{   
   //  border: solid 3px hotpink; 
    
     text-align: right;
        p{
            font-size: 10px;
            line-height: 14px;
            padding: 10px 0 ;
            margin: 0;
        }
     

        @media screen and (max-width: 992px){
            p{
                    font-size: 8px;
                    line-height: 12px;
            }
        }

        @media screen and (max-width: 768px){
            padding-bottom: 40px;
            text-align: center;
            }

    }

}


//------ HOME PAGE STYLING -----//

.home-content{   
          &__video{
            height: 100vh;
            width: 100%;
            .gg-video{
           height: 100%;
           width: 100%;
            }
    
    }
}




//------ WORK PAGE STYLING -----//

.heading{
    
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;

    @media screen and (max-width: 992px){
            h1{font-size: 48px;
            line-height: 54px;
            }
        }
    
    @media screen and (max-width: 768px){
            h1{font-size: 32px;
               line-height: 42px;
               }
        }
    
        @media screen and (max-width: 576px){
            
        }

}


.category.container-fluid{   
   //     border: solid 3px hotpink; 
            margin-top: 50px; 
            justify-content: center;

             .category-item {
                 position: relative;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                  
                 //display: flex;
       //          border: solid 3px hotpink; 
                 margin-top: 30px;

                 img{
                     width: 100%;
                 }
                 

                 .category-text{
                    
                    position: absolute;
                       a{  
                        color: $background;
                        text-decoration: none;
                        }
                                }
                            }
         
        
    }


//------ CONTACT PAGE STYLING -----//

.contact{
    
    
    p{
        /*color: hotpink;*/
        max-width: 600px;
        width: 100%;
        margin: auto;
        margin-top: 25px;
        
    }
}

.contact-content{
    padding-top: 90px;
    padding-bottom: 50px;
}



//---------ABOUT PAGE STYLING--------//


.about{
    
    
    p{
        /*color: hotpink;*/
        max-width: 600px;
        width: 100%;
        margin: auto;
        margin-top: 25px;
        
    }
}