$background: #1e1e1e;



@import "global";

p, h1, h2, h3, h4, h5, a {
    font-family: 'montserrat', sans-serif !important;
    color: white;
}


    .body{
        background-color: $background;
    }

    .header-container.HOME, .footer-container.HOME, .header-container.home, .footer-container.home {
        position: absolute;
        background: none;
        z-index: 9999;
        min-width: 100%;
        .main-page-container{
            margin: auto;
        }
    }
    

    .footer-container.HOME, .footer-container.home{
        bottom: 0;
    }
   



    .main-page-container{
        text-align: left;
        
        font-size: 20px;
        line-height: 24px;
        max-width: 1140px;
        width: 100%;
        padding: 0 40px;
        margin: auto;

        @media screen and (max-width: 1000px){
            padding: 0 20px;
            }   
            @media screen and (max-width: 500px){
                padding: 0 10px;
                }   
       
        
    }




 //------ HEADER STYLING -----//

 header{
    
    
    padding: 10px 0 10px 0;
    
    
}

.navbar-brand{
    font-size: 10px;
    font-weight: 700;
 
     
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
    
    
}

.navbar{ 
.navbar-nav{
    
    a{  text-decoration: none;
        
        font-size: 10px;
   //     font-weight: 700;
        margin-left: 50px;        

        @media screen and (max-width: 992px){
            margin-left: 0px;
            }  

    }
}
}




//------ FOOTER STYLING -----//

.gway-footer{
    
 
    max-width: 1200px;
    width: 100%;
    margin: 100px auto 30px auto;
    padding: 0;
   
   
   .row{
       justify-content: space-between;
   }

    &__nav{
        border: solid 3px hotpink; 
        
        .nav{
            flex-wrap: nowrap;

            @media screen and (max-width: 768px){
                justify-content: center;
                
                }    
        }

       .indeed{
           padding-left: 0px;
           @media screen and (max-width: 768px){
           
            padding-left: 11.2px;
            }
        } 
        
    }

  
   
    &__copy{     
 // border: solid 3px hotpink; 
    display: flex;
     justify-content: right;
     align-items: center;
     
        p{
            vertical-align: middle;
            font-size: 10px;
            line-height: 14px;
            margin: 0;
            margin-right: 6px;
        }
     

        @media screen and (max-width: 992px){
            p{
                    font-size: 8px;
                    line-height: 12px;
            }
        }

        @media screen and (max-width: 768px){
            
            justify-content: center;
            }

    }

}


//------ HOME PAGE STYLING -----//


#gg-video{
    
    iframe{
        min-width: 100vw;
        min-height: 100vh;
        width: 100%;
      
    }
  
.page{
    
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media screen and (max-width: 576px){
        justify-content: center;
        } 


    .showreel{
        z-index: 99999;
        position: absolute;
        max-height: 100px;
        max-width: 1140px;
        width: 100%;
        padding: 0 40px;
     //   border: solid 3px hotpink; 
        margin: auto;
        bottom: 140px;

        

        @media screen and (max-width: 1000px){
            padding: 0 20px;
            }   
            @media screen and (max-width: 500px){
                padding: 0 10px;
                }  

        @media screen and (max-width: 576px){
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0px;
            } 

        .btn{
        font-family: 'montserrat', sans-serif !important;
        font-size: 10px;
        font-weight: 400;
           color: white;
           border: solid 1px white;
           border-radius: 0%;
           padding: 7px 18px;
       } 
    }
}

}



//------ SHOWREEL PAGE STYLING -----//

.showreel-content{   
    &__video{
      height: 100vh;
      width: 100%;
      .showreel-video{
     height: 100%;
     width: 100%;
      }
    }
}



//------ WORK PAGE STYLING -----//

.heading{
    
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: left;

    

}


.category{   
     //   border: solid 3px hotpink; 
            margin-top: 50px; 
            justify-content: center;

            .row{
                margin-left: -4px;
                margin-right: -4px;
            }

             .category-item {
                 padding: 4px;
                 position: relative;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                  
                 //display: flex;
             //    border: solid 3px hotpink; 
                
                

                 img{
                     
                     width: 100%;
                     
                 }
                
                 .category-text{
                    position: absolute;
                    p{
                        margin: 0;
                       a{  
                        font-size: 10px;   
                        font-weight: 600;
                        color: white;
                        text-decoration: none;
                        }
                    }
                    }
                            }

                            
         
        
    }

//------- SINGLE POST STYLING -------//

.project-single{

    .single-content__video{
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }
   
    .single-content__video iframe{
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }



   /*  .single-content{   
          min-height: 80vh;
          width: 100%;

          @media screen and (max-width: 1000px){
            min-height: 60vh;
            width: 100%;
            }   
            @media screen and (max-width: 800px){
                min-height: 50vh;
                width: 100%;
                }
                @media screen and (max-width: 600px){
                    min-height: 40vh;
                    width: 100%;
                    }
                    @media screen and (max-width: 500px){
                        min-height: 30vh;
                        width: 100%;
                        }  


        &__video{
            height: 100%;
            width: 100%;
             }
          .single-video{
         height: 100%;
         width: 100%;
          }
  
  }
 */

    &__section{
        .col-12{
        max-width: 1200px;
        width: 100%;
        }

        .single-image{
            img{
            max-width: 1200px;
            width: 100%;
            padding: 4px;
            }
        }

    }

    &__content{
        
        .heading.inner{
            max-width: 1200px;
            width: 100%;
            margin-bottom: 0px;
            h1{
                padding-top: 10px;
                padding-bottom: 5px;
            }
           
        }
        
        a{
        .img-fluid{
        max-width: 1200px;
        width: 100%;
        }
        }
    }
    .content.inner{
        font-size: 16px;
        max-width: 1200px;
        width: 100%;
        margin-bottom: 50px;
     
    }
}





//------ CONTACT PAGE STYLING -----//


        .contact-form{
            
     // border: solid 1px hotpink; 
        display: flex;
        justify-content: center;


#wpforms-140{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    width: 100%;
    margin: auto;
    margin-right: 0px;
   
    @media screen and (max-width: 768px){
        margin: auto;
        } 

}

#wpforms-form-140{
    max-width: 350px;
    width: 100%;
    
}

 #wpforms-140-field_0, #wpforms-140-field_1, #wpforms-140-field_3, #wpforms-140-field_5, #wpforms-140-field_2{
    font-family: 'montserrat', sans-serif !important;
    color: white;
    font-size: 16px;
    opacity: 1;
    max-width: 350px;
    width: 100%;
    background-color: $background;
    border: none;
    border-bottom: solid 1px white;
    box-shadow: none;
}


  .wpforms-submit-container{
      text-align: right;
  }

  #wpforms-submit-140{
      border: none;
      padding-right: 0;
      color: white;
      background-color: $background;
      font-size: 16px;
  }

  .wpforms-confirmation-container-full.wpforms-confirmation-scroll{
      background-color: $background;
      border: none;
      font-family: 'montserrat', sans-serif !important;
      color: white;
      font-size: 10px;
      text-align: right;
      padding-right: 0;
      margin-right: 0;
            
      @media screen and (max-width: 768px){
        text-align: center;
        margin: 30px auto;
        padding-right: 15px;
        }   
  }

}



//---------ABOUT PAGE STYLING--------//


.about{
    
    
    p{
        /*color: hotpink;*/
        max-width: 1200px;
    
        width: 100%;
        margin: auto;
        margin-top: 25px;
        
    }
}
.video-home {
    height: 100vh;
} 
